body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* .legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
} */

.legend {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
}

.legend i {
  width: 20px;
  height: 20px;
  margin-right: 8px; /* Adjust as needed */
  display: inline-block;
}